.form__container {
  width: 550px;
  height: 500px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 250px;
  box-shadow: 0 8px 20px rgba(35, 0, 77, 0.2);
  background: var(--first-color-lighten);
  border-radius: 10px;
  padding: 0 1rem;
}

.form__img {
  width: 380px;
  height: 380px;
  display: flex;
  align-items: center;
}

.form__content {
  width: 350px;
  height: 460px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 400px;
  background: var(--first-color-lighten);
  box-shadow: 0 8px 20px rgba(35, 0, 77, 0.2);
  border-radius: 10px;
}
