@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  --first-color: #9d4bff;
  --first-color-dark: #23004d;
  --first-color-light: #a49eac;
}

:root {
  --body-font: "Roboto", sans-serif;
  --big-font-size: 2rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 2.5rem;
    --normal-font-size: 1rem;
  }
}
