@import "./config/variables";
@import "./base/base";
@import "./components/form/form";
@import "./components/signupform/signupform";

.mainContainer {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.shape1,
.shape2 {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  position: absolute;
}

.shape1 {
  top: -6.5rem;
  left: -6.5rem;
  background: linear-gradient(
    180deg,
    var(--first-color) 0%,
    rgba(196, 196, 196, 0) 100%
  );
}

.shape2 {
  bottom: -8.5rem;
  right: -8.5rem;
  background: linear-gradient(
    180deg,
    var(--first-color) 0%,
    rgba(196, 196, 196, 0) 100%
  );
  transform: rotate(90deg);
}

@media screen and (max-width: 1080px) {
  .form__container {
    width: 450px;
    height: 400px;
    left: 180px;
  }

  .form__img {
    width: 340px;
    height: 340px;
  }

  .form__content {
    width: 300px;
    height: 410px;
    left: 360px;
    padding: 0.8rem 0;
  }

  .form__error {
    width: 150px;
    right: -9rem;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 968px) {
  .form__container {
    width: 300px;
    height: 150px;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    background: transparent;
    box-shadow: none;
  }

  .form__img {
    width: 200px;
    height: 150px;
  }

  .form__content {
    width: 300px;
    height: 380px;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
  }

  .form__icon,
  .form__icon-error {
    font-size: 1.2rem;
  }

  @media screen and (max-width: 630px) {
    .form__error,
    #arrow__icon {
      display: none;
    }
  }
}
